


.header {
  background-image: url(https://www.gannett-cdn.com/presto/2019/09/05/PLOU/eb65d7c6-22d9-457c-b5ef-7cd5f489bd62-dunkbird1.jpg?width=660&height=372&fit=crop&format=pjpg&auto=webp);
  width: 100%;
  height: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
}

.header-content {
  color: floralwhite;
  text-align: center;
  font-size: 28px;
  padding: 36%;
}

.intro {
  background-color: red;
  text-align: center;
  padding: 7% 0 7% 0;
}


.champ-dunk {
  padding: 3% 0 3% 0;
}

.pic-and-words {
  display: flex;
}



h2 {
 padding: 20% 0 0 5%; 
}

.second-pics-and-words {
 padding: 5%;
}

.content-2 {
  background-color: black;
  color: white;
  padding: 3% 0 3% 0;
}


.promo {
  background-image: url(https://www.si.com/.image/ar_16:9%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cg_faces:center%2Cq_auto:good%2Cw_768/MTY4MDA2OTUyNzM5NDgwOTYw/louisville-new-basketball-court-design-retrojpg.jpg);
  background-size: cover;
  height: 300px;
}


h5 {
  color: floralwhite;
  text-align: center;
  font-size: 46px;
}

.content-3 {
  text-align: center;
  padding: 7% 0 7% 0;

}